*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenar
{
    width: 80%;
    min-height: 100%;
    /* border: 2px solid black; */
    margin: auto;
    padding: 2px;
}
.logo_menu
{
    width: 100%;
    min-height: 70px;
    /* border: 2px solid black; */
    padding: 2px;
    
}
.logo{
    width: 50%;
    min-height: 60px;
    /* border: 2px solid black; */
    float: left;
    padding-left: 40px;
    padding-top: 10px;
}
.logo h1
{
    
}
.menu
{
    width: 50%;
    min-height: 60px;
    /* border: 2px solid black; */
    float: right;
   
    padding-left: 40px;
    padding-top: 20px;
}
 a
{
   text-decoration: none;
    padding: 10px;
   
}
a:hover
{
    background-color: aquamarine;
    color: aliceblue;
}
.slider
{
    width: 100%;
    min-height: 350px;
    /* border: 2px solid black; */
    padding: 2px;
   
    margin: auto;
    background-repeat: no-repeat;
    background-image: url(../img/pexels-stefan-stefancik-919606.jpg);
    background-size: 1010px;
    background-position: 0px;
}

.slider h2{
     margin-left: 350px;
    margin-top: 150px;
    color: rgb(19, 18, 18);
}
.slider h1{
  margin-left: 250px
  
}
.slider h1{
    color: aliceblue;
}
.slider button
{
    margin-left: 400px;
    margin-top: 10px;
}

.icon
{
   
    width: 100%;
    min-height: 220px;
    /* border: 2px solid black; */
    padding: 2px;
    padding-left: 55px;

    
}
 .icon .icon_1
{
    margin-top: 10px;
    width: 30%;
    height: 200px;
    /* border: 2px solid black; */
    padding: 2px;
    float: left;
}
.icon .icon_1 h2
{
text-align: center;
}
.icon .icon_1 p{
    text-align: center;
 padding: 20px;
}
.icon .icon_1  img
{
  margin-left: 120px;
}
.icon_2
{
    margin-top: 10px;
    width: 30%;
    height: 200px;
    /* border: 2px solid black; */
      float: left;
    padding: 2px;
    
    margin-left: 13px;
}
.icon .icon_2 h2
{
text-align: center;
}
.icon .icon_2 p{
    text-align: center;
 padding: 20px;
}
.icon .icon_2  img
{
  margin-left: 120px;
} 
 .icon .icon_3
{
    margin-top: 10px;
    width: 30%;
    height: 200px;
    /* border: 2px solid black; */
    padding: 2px;
    float: left;
    margin-left: 13px;
} 
.icon .icon_3 h2
{
text-align: center;
}
.icon .icon_3 p{
    text-align: center;
 padding: 20px;
}
.icon .icon_3  img
{
  margin-left: 120px;
}
.vid
{
    width: 100%;
    min-height: 550px;
    /* border: 2px solid black; */
    padding: 2px;
    
} 
.vid video
{
    /* margin-top: 10px; */
    width:1000px;
    min-height: 550px;
    /* border: 2px solid black; */
    /* padding: 2px; */
    padding-left: 100px;
    padding-right: 100px;

}
.vid h1
{
    padding-top: 40px;
    text-align: center;
}
.vid .text p
{
    /* padding-top: 20px; */
    text-align: center;
    padding: 30px;
     font-size: small;
}
.contant
{
    width: 100%;
    min-height: 315px;
    /* border: 2px solid black; */
    padding: 2px;
   
    
}
.contant .con_1{
    width: 45%;
    min-height: 300px;
    /* border: 2px solid black; */
    padding: 2px;
    float: left;
    margin-left: 45px;
    background-color: rgb(220, 213, 205);
} 
.contant .con_1 h2
{
    padding-top: 50px;
  text-align: center;
}

.contant .con_1 p
{
    padding: 10px;
    text-align: center;
}
.contant .con_1 .text
{
    width: 50%;
    min-height: 300px;
    /* border: 2px solid black; */
    padding: 2px;
    float: left;
    /* margin-left: 45px; */
}

.contant .con_1 .img_1
{
    width: 50%;
    min-height: 300px;
    /* border: 2px solid black; */
    padding: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/pexels-arunodhai-v-568948.jpg);
    float: left;
}
.contant .con_2{
    width: 45%;
    min-height: 300px;
    /* border: 2px solid black; */
    padding: 2px;
    float: left;
    margin-left: 10px;
    background-color: rgb(220, 213, 205);
} 
.contant .con_2 .text
{
    width: 50%;
    min-height: 300px;
    /* border: 2px solid black; */
    padding: 2px;
    float: left;
    /* margin-left: 45px; */
}

.contant .con_2 .img_2
{
    width: 50%;
    min-height: 300px;
    /* border: 2px solid black; */
    padding: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/pexels-dzenina-lukac-754261.jpg);
    float: left;
}
.contant .con_2 h2
{
    padding-top: 50px;
  text-align: center;
}

.contant .con_2 p
{
    padding: 10px;
    text-align: center;
}
.intro
{
    width: 100%;
    min-height: 315px;
    /* border: 2px solid black; */
    padding: 2px;
    padding-left: 100px;
    padding-right: 100px;
}
.intro h2
{
    padding-top: 80px;
    margin-top: 20px;
    text-align: center;
    font-size:50px;
}
.intro p
{
    margin-top: 20px;
    text-align: center;
}
.intro button
{
    padding: 20px;
   margin-left: 350px;
   margin-top: 20px;
   border-color: aqua;
   color:black;
}
.intro button:hover
{
   background-color: aquamarine;
}
.last
{
    width: 100%;
    min-height: 250px;
    /* border: 2px solid black; */
    padding: 2px;
   
}
.last .text
{
    width: 50%;
    min-height: 250px;
    /* border: 2px solid black; */
    padding: 2px;
    float: left;
    padding-top: 50px;
}
.last .text h4
{
  color: blue;
}
.last .table
{
    width: 50%;
    min-height: 300px;
    /* border: 2px solid black; */
    padding: 2px;
    float: left;
    padding-top: 50px;
}
.table table{
   /* padding-top: 50px; */
    margin: auto;
    width: 400px;
    height: 200px;
    text-align: justify;
}
.table table th
{
    background-color: antiquewhite;

}
 /* .table table tr th a{
    font-size: large;
    background-color: aqua;
} */